---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Saka Exchange | Instant Cryptocurrency Exchange & Best Rates',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=678722bd9c2b8a0012e6c83d&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
   
  >
    <Fragment slot="title">
      Saka <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> .</span> Exchange
       <CallToAction
    actions={[
     
    ]}
  >
    <Fragment slot="title">
     <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
    </Fragment>

    <Fragment slot="subtitle">
   <iframe id='iframe-widget' src='https://changenow.io/embeds/exchange-widget/v2/widget.html?FAQ=true&amount=0.1&amountFiat=1500&backgroundColor=0c0c2a&darkMode=true&from=btc&fromFiat=eur&horizontal=false&isFiat&lang=en-US&link_id=537f0c2ee20bbe&locales=true&logo=false&primaryColor=00C26F&to=eth&toFiat=eth&toTheMoon=true' style="height: 410px; width: 100%; border: none"></iframe>
    <script defer type='text/javascript' src='https://changenow.io/embeds/exchange-widget/v2/stepper-connector.js'></script>
    
    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
    <dotlottie-wc src="https://lottie.host/42aae124-9be4-43b8-a13b-1c6bb16455bc/JhSa40mwyi.lottie" speed="0.5" style="width: 100%; height: 3px" mode="forward" loop autoplay></dotlottie-wc>
    </Fragment>
  </CallToAction>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"></span> 
       Web3 Crypto Exchange  Buy, Sell, and Swap Crypto: Simple, Fast, Free of Custody.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
     
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

</CallToAction>
   <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "0edd96cd-5dc8-4efb-9fc9-4a614fa13fd2"
  });
</script>
</Layout>
