---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/d8dc11e7-9b6a-4672-91f8-ae4dd65c1071/uNeRqW7PFA.json" background="transparent" speed="0.5" style="width: 60px; height: 60px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
</span>
